/*
 * Copyright (c) 2026 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT5555555555555555555555555555555444444
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zephyr,display = &oled;
        zmk,kscan = &kscan;
        zmk,matrix-transform = &default_transform;
    };

    kscan: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios
            = <&pro_micro 8  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // Button 1 - D8
            , <&pro_micro 7  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // Button 2 - D7
            , <&pro_micro 6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // Button 3 - D6
            , <&pro_micro 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // Button 4 - D15
            , <&pro_micro 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // Button 5 - D14
            , <&pro_micro 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // Button 6 - D16
            , <&pro_micro 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // Button 7 - D10
            , <&pro_micro 4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // Button 8 - D4
            ;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <8>;
        rows = <1>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5) RC(0,6) RC(0,7)
        >;
    };

    encoder: encoder {
        compatible = "alps,ec11";
        a-gpios = <&pro_micro 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;  // D1 (Encoder A)
        b-gpios = <&pro_micro 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;  // D0 (Encoder B)
        steps = <80>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
        triggers-per-rotation = <20>;
    };

    wired_split {
        compatible = "zmk,wired-split";
        device = <&pro_micro_serial>;
    };
};

&pro_micro_serial {
    status = "okay";
};

&pro_micro_i2c {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        inversion-on;
        prechargep = <0x22>;
    };
};
